/* & ------- GENERELLE TING------------ */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  padding: 0.5rem;
}

.hidden {
  display: none;
}

nav {
  /* det er er blot farven på nav baren */
  outline: none;
  transform: translate(0);
  background-image: linear-gradient(45deg, #7bdce9, #e287e5);
  z-index: 100;
}

/* FONTE */
h1,
h2 {
  font-family: grafolita-script, sans-serif;

  font-weight: 700;

  font-style: normal;
}

h1 {
  font-size: 5rem;
  color: #ea9cd1;
}

h2 {
  font-size: 2rem;
}

p,
h3 {
  font-size: 1rem;
  font-family: forma-djr-deck, sans-serif;

  font-weight: 500;

  font-style: normal;
}

/* TODO Her skal vi også have planlagt hvad h1, h2, h3  og a (links) hvilken font farve og størrelse de hver især skal have  */

/* & ------- GENERELLE TING SLUT------------ */

/* * ------------Selve burger menuen--------- */
.kurv {
  max-width: 60px;
  max-height: 60px;
  background-size: 38%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  left: 32rem;
  top: 0%;
}
.burger_menu {
  max-width: 60px;
  max-height: 60px;
  background-size: 38%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.burger_menu_luk {
  max-width: 60px;
  max-height: 60px;
  background-size: 38%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.nav_sidebar {
  z-index: 1000;
  position: absolute;
  background-color: #e287e5;
  width: 300px;
  height: 100vh;
}

.BurgerNav a {
  list-style: none;
  text-decoration: none;
  color: blueviolet;
  right: 0;
  margin: 2rem;
  z-index: 1000;
  font-size: 30px;
  padding: 1fr;
}
.BurgerNav {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  justify-content: space-around;
  margin-top: 30px;
  list-style: none;
}
/* * ------------Selve burger menuen SLUT--------- */

/* & --------------HER STARTER MAIN--------------------- */
.splash_image {
  top: 60px;
  height: auto;
  left: 0;
  margin: 0;
  padding: 0;
  position: sticky;
  z-index: 1;
}

.SHOP {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  transform: translate(0);
  background-image: linear-gradient(45deg, #369ca9, #e287e5);
  padding: 0.7em 2em;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  transition: box-shadow 0.25s;
  color: white;
  border-radius: 16px;
  z-index: 1;
}
/* & -------------- MAIN SLUT--------------------- */

/* *------- Footer style------ */

footer {
  background-image: linear-gradient(45deg, #7bdce9, #e287e5);
  display: grid;
  max-width: 100vw;
}

footer img {
  grid-area: 1/1;
  margin-bottom: -16px;
  /* overflow: hidden; */
}

footer #tekst_footer {
  text-align: center;
}

footer address {
  margin: 20px;
}

footer p {
  margin: 40px;
}

#footer_betaling {
  width: 60%;
  height: auto;
}

#socialemedier {
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  width: 20%;
  height: auto;
  display: inline-block;

  border: 1px solid red;
  padding: 1rem 1rem;
  vertical-align: middle;
}
/* 
#footer_instagram {
  grid-area: 2/2;
}

#footer_facebook {
  grid-area: 1/2;
} */

/* *------- Footer style SLUT------ */
