/* first section */

#first_section {
  text-align: center;
  margin: 40px;
}

/* kategoritekst */

#overskrift {
  text-align: center;
}

/* & ----- HER LAVES GRIDET SOM SLIKKET STÅR I------ */
#slikket {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 8px;
}

#art_slik {
  margin: 7%;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 137, 255);
}

#tekst_box {
  border-top: 2px solid rgb(255, 137, 255);
  padding: 5%;
}

#knapper_med_katagorier {
  margin: 30px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

@media (min-width: 600px) {
  #slikket {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
  }

  #knapper_med_katagorier {
    margin: 1px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}

/* TODO Vi skal have lave nogle media quries til når skærmen bliver større */
/* & ----- GRID SLUT----- */

/* * ----- Størrelsen på knapperne og deres flex funktion */
#knapper_med_katagorier div {
  width: 232px;
  height: 110px;
  gap: 10px;
  margin: 10px;
}

#knapper_med_katagorier div p {
  text-align: center;
  padding-top: 50px;
}

#knapper_med_katagorier {
  display: flex;
  flex-flow: wrap;
  background-image: none;
}

.SHOP-KATAGORIER-KNAPPER {
  /* DE her skal selvfølgelig lave det her om til skyerne */
  background-image: url(svg/sky_transparent.svg);

  top: 20%;
  left: 20%;

  width: 50%;
  height: 65px;
  background-size: cover;

  /* aspect-ratio: 580/277; */
}
button {
  margin: 0.5rem;
}
/* * ----- SLUT-------- */

/* & ------- Forskellige klasses med fx hover efekter skal være her ------- */
.valgt {
  /* når man har valgt noget på katagoierne skal skyen udfyldes med radient farve  */
}

/* Vi skal finde ud af hvor vores hover effekt er til vores katagori knapper også lave den her */

/* & ------- Forskellige klasser SLUT------- */
