/* & ----- HER LAVES GRIDET SOM SLIKKET STÅR I------ */
#slikket {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 8px;
}

#art_slik {
  margin: 7%;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 137, 255);
}

#tekst_box {
  border-top: 2px solid rgb(255, 137, 255);
  padding: 5%;
}

/* TODO Vi skal have lave nogle media quries til når skærmen bliver større */
/* & ----- GRID SLUT----- */

/* * ----- Størrelsen på knapperne og deres flex funktion */
#knapper_med_katagorier button {
  width: 120px;
  height: 50px;
}

#knapper_med_katagorier {
  display: flex;
  flex-flow: wrap;
  background-image: none;
}

.SHOP-KATAGORIER-KNAPPER {
  /* DE her skal selvfølgelig lave det her om til skyerne */
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  transform: translate(0);
  background-image: linear-gradient(45deg, #a2f4ff, #e287e5);
  padding: 0.7em 2em;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  transition: box-shadow 0.25s;
  color: white;
  border-radius: 16px;
}
button {
  margin: 0.5rem;
}
/* * ----- SLUT-------- */

#logoNeon {
  /* color: #fff; */
  filter: drop-shadow(
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #f09,
    0 0 82px #f09,
    0 0 92px #f09,
    0 0 102px #f09,
    0 0 151px #f09
  );
  animation: pulsate 0.11s ease-in-out infinite alternate;
}

@keyframes pulsate {
    
  100% {

      filter: drop-shadow(
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #f09,
      0 0 80px #f09,
      0 0 90px #f09,
      0 0 100px #f09,
      0 0 150px #f09
      )
  }
  
  0% {

    filter: drop-shadow(
    0 0 4px #fff,
    0 0 10px #fff,
    0 0 18px #fff,
    0 0 38px #f09,
    0 0 73px #f09,
    0 0 80px #f09,
    0 0 94px #f09,
    0 0 140px #f09
    )
}     

/* & ------- Forskellige klasses med fx hover efekter skal være her ------- */
.valgt {
  /* når man har valgt noget på katagoierne skal skyen udfyldes med radient farve  */
}

/* Vi skal finde ud af hvor vores hover effekt er til vores katagori knapper også lave den her */

/* & ------- Forskellige klasser SLUT------- */
